.movies-card-element {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 364px;
    height: 271px;
    background: #FDFDFD;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}

.movies-card-element__label {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-self: start;
    padding: 0 14px;
    margin: 14px 0;
}

.movies-card-element__label__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movies-card-element__label__subtitle {
    margin: 9px 0 0 0;
    grid-row: 2/3;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.save-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-row: 1/3;
    grid-column: 2 / 3;

}

.save-checkbox__switcher {
    opacity: 0;
    width: 0;
    height: 0;
}

.save-checkbox__point {
    height: 30px;
    width: 30px;
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: center;
    justify-self: end;
    margin-left: 14px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../../images/save9d.svg');
    background-repeat: no-repeat;
}

.save-checkbox__switcher:checked + .save-checkbox__point {
    background-image: url('../../images/save9.svg');
}

.movies-card-element__image {
    width: 100%;
    height: 203px;
    object-fit: cover;
    object-position: left top;
}