.form{
    display: flex;
    flex-direction: column;
}

.form__submit-btn{
    width: 396px;
    height: 45px;
    background: #3456F3;
    border: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.form__input__title{
    margin: 0 0 5px 0;

    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.form__input{
    width: 100%;
    height: 28px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    margin: 0 0 24px 0;
}

.form__input, :active, :hover, :focus{
    outline: 0;
    outline-offset: 0;
}

.form__input__err{
    position: relative;
    bottom:26px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
}
