.techs {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px !important;
    padding-top: 100px !important;
}

.techs__title {
    align-self: stretch;
}

.techs__subtitle{
    margin: 90px 0 26px 0;
}

.techs__text{
    max-width: 460px;
    text-align: center;
    margin: 0;
}

.techs__container {
    display: grid;
    grid-template-columns: repeat(7, 90px);
    gap: 10px;
    margin-top: 100px;
}

.techs__skill-text{
    background: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
}

@media screen and (max-width: 984px){
    .techs__subtitle {
        margin: 80px 0 22px 0;
    }

    .techs__text{
        letter-spacing: -0.04em;
    }

    .techs__container{
        grid-template-columns: repeat(7, 84px);
        margin-top: 82px;
    }

    .techs__skill-text{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.04em;
    }
}

@media screen and (max-width: 744px){
    .techs__container{
        grid-template-columns: repeat(2, 84px);
        grid-template-rows: repeat(4, 57px);
        margin-top: 50px;
    }
}

@media screen and (max-width: 568px){
    .techs{
        background-color: #FFFFFF;
        padding-bottom: 70px !important;
    }

    .techs__subtitle{
        font-size: 30px !important;
        line-height: 36px !important;
        margin-top: 60px;
    }
}