.about-project__table-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.about-project__cell {
    max-width: 550px;
    display: grid;
}

.about-project__subtitle {
    margin-top: 0;
    margin-bottom: 26px;
}

.about-project__text {
    padding: 0;
    margin: 0;
}

.about-project__text_graph {
    padding: 9px 0 !important;
}

.about-project__caption {
    padding: 0;
    margin: 0;
}

.about-project__caption_graph {
    padding-top: 14px !important;
    padding-bottom: 0 !important;
}

.about-project__graph {
    display: grid;
    grid-template-columns: 1fr 4fr;

    align-items: center;
    justify-items: center;

    margin-top: 110px;
}

.about-project__text_graph-cell{
    background-color: #2BE080;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-project__graph .about-project__text_graph-cell:nth-child(2){
    background-color: #F2F2F2;
}

@media screen and (max-width: 984px){
    .about-project__subtitle {
        margin-bottom: 20px;
    }

    .about-project__cell{
        max-width: 320px;
    }

    .about-project__graph{
        margin-top: 94px;
    }

    .about-project__text_graph{
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 17px !important;
    }

    .about-project__caption{
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 17px !important;
    }
}

@media screen and (max-width: 568px){
    .about-project__table-container{
        flex-direction: column;
        height: 272px;
        justify-content: space-between;
        margin-top: 60px;
    }

    .about-project__subtitle {
        margin-bottom: 16px;
    }

    .about-project__graph {
        margin-top: 60px;
        grid-template-columns: 100px auto;
    }

    .about-project__text_graph {
        font-size: 11px !important;
        line-height: 13px !important;
    }

    .about-project__caption_graph {
        font-size: 11px !important;
        line-height: 13px !important;
        padding-top: 10px !important;
    }


}