.search-form-container{
    box-sizing: border-box;
    padding: 70px 70px 100px 70px;
    height: 242px;
    /*border-bottom: 1px solid #AAA;*/
}

.search-form{
    display: grid;
    grid-template-columns: auto minmax(80px, 100px);
    grid-gap: calc(10px + 26px);
    width: 100%;
    border: 1.5px solid #AAAAAA;
    border-radius: 8px;
    height: 72px;
    box-sizing: border-box;
    padding: 10px 10px 10px 25px;
}

.search-form__input{
    border-radius: 8px;
    border: none;
    height: 100%;
    padding: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.search-form__input:focus{
    outline: none;
}

.search-form__button{
    width: 100px;
    height: 52px;
    padding: 0;
    background-color: #3456F3;
    border: none;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.search-form-container__border{
    position: relative;
    top: 80px;
    background: #AAAAAA;
    height: 1px;
}