.search-form-container {
    box-sizing: border-box;
    padding: 70px 70px 100px 70px;
    height: 242px;
}

.search-form {
    display: grid;
    grid-template-columns: auto minmax(80px, 100px);
    grid-gap: calc(10px + 26px);
    width: 100%;
    border: 1.5px solid #AAAAAA;
    border-radius: 8px;
    height: 72px;
    box-sizing: border-box;
    padding: 10px 10px 10px 25px;
}

.search-form__input {
    border-radius: 8px;
    border: none;
    height: 100%;
    padding: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.search-form__input:focus {
    outline: none;
}

.search-form__button {
    width: 100px;
    height: 52px;
    padding: 0;
    background-color: #3456F3;
    border: none;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.search-form-container__border {
    position: relative;
    top: 80px;
    background: #AAAAAA;
    height: 1px;
    z-index: -1;
}

@media screen and (max-width: 984px) {

    .search-form-container {
        padding: 70px 30px 108px 30px;
        height: 250px;
    }
}

@media screen and (max-width: 568px) {
    .search-form-container {
        padding: 70px 14px 108px 14px;
        height: 250px;
    }

    .search-form {
        grid-template-columns: minmax(50px, auto) 80px;
        padding: 6px 6px 6px 12px;
        height: 56px;
        grid-row-gap: calc(6px + 30px);
        grid-column-gap: 10px;
    }

    .search-form__input {
        font-size: 16px;
    }

    .search-form__button {
        width: 80px;
        height: 44px;
    }
}