.info-tip_enabled{
    width: 100%;
    opacity: 1;
    transition: .2s;
}

.info-tip_disabled{
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.info-tip__text{
    transition: .5s;
    margin-top: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2BE080;
}

.info-tip__err-text{
    margin-top: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF3055;
}