.portfolio{
    width: 100%;
    box-sizing: border-box;
    padding: 0 70px 125px 70px;
}

.portfolio__title{
    margin: 0 0 50px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: #A0A0A0;
}

.portfolio__list{
    list-style-type: none;
    margin:0;
    padding:0;
}

.portfolio__list__string{
    display:flex;
    padding: 20px 0;
    border-bottom: #E8E8E8 1px solid;

    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__list__string::after{
    content: '↗';
}

.portfolio__list__string:first-child{
    padding-top: 0 !important;
}

.portfolio__list__string:last-child{
    border-bottom: none;
}

@media screen and (max-width: 984px){
    .portfolio{
        padding: 0 50px 90px 50px;
    }

    .portfolio__list__string{
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 50px;
        letter-spacing: -0.04em;
    }
}