/*a*/
/*{*/
/*    text-decoration: none;*/
/*    color: #232323;*/

/*    transition: color 0.3s ease;*/
/*}*/

/*a:hover*/
/*{*/
/*    color: tomato;*/
/*}*/

.burger{
    /*display: flex;*/
}

.burger__container
{
    display: flex;
    flex-direction: column;
    /*position: absolute;*/

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

.burger__container__input
{
    display: block;
    width: 33px;
    height: 27px;
    position: absolute;
    /*top: -7px;*/
    /*left: -5px;*/

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.burger__container .burger__container__stripe
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

.burger__container .burger__container__stripe:first-child
{
    transform-origin: 0% 0%;
}

.burger__container .burger__container__stripe:nth-last-child(2)
{
    transform-origin: 0% 100%;
    margin: 0;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.burger__container__input:checked ~ .burger__container__stripe
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
.burger__container__input:checked ~ .burger__container__stripe:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.burger__container__input:checked ~ .burger__container__stripe:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.burger_menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    position: absolute;
    width: 520px;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 159px;
    right: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: 1;

    background: #FFFFFF;
    border: 1px dashed green;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.burger_menu li
{
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
.burger__container__input:checked ~ ul
{
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .burger_menu {
        transform: none;
        opacity: 0;

        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}