.register {
    display: flex;
    flex-direction: column;
}

.register__warp {
    box-sizing: border-box;
    padding: 70px 0;
}

.register__logo {
    height: 38px;
    width: 38px;
    margin: 0 0 40px 0;
}

.register__title {
    margin: 4px 0 33px 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.register__subtitle {
    margin: 16px 0 0 0;
    align-self: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
}

.register__sublink {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3456F3;
}

@media screen and (max-width: 984px){
    .register__warp {
        padding: 230px 0;
    }
}

@media screen and (max-width: 568px) {
    .register__warp {
        padding: 56px 0;
    }

    .register{
        align-items: center;
    }

    .register__logo {
        margin: 0 0 50px 0;
    }

    .register__title {
        margin: 0px 0 74px 0;

        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    .register__subtitle {
        font-size: 12px;
        line-height: 15px;
    }

    .register__sublink {
        font-size: 12px;
        line-height: 15px;
    }
}