.footer {
    width: 100%;
    padding: 0 70px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__title {
    margin: 0;
    padding: 58px 0 20px 0;
    border-bottom: #E8E8E8 solid 1px;
    width: 100%;

    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A0;
}

.footer__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin: 20px 0;
    padding: 0;
}

.footer__link {
    margin-left: 20px;
    text-decoration: none;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__copyright {
    min-width: 60px;
    margin: 0;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 984px) {
    .footer{
        padding: 0 30px;
    }

    .footer__title{
        padding: 78px 0 20px 0;
    }
}

@media screen and (max-width: 568px) {
    .footer{
        padding: 0 10px;
    }

    .footer__title{
        padding: 79px 0 20px 0;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__container{
        flex-direction: column-reverse;
    }

    .footer__list{
        flex-direction: column;
        align-items: center;
        margin: 26px 0;
    }

    .footer__list__cell{
        margin-bottom: 12px;
    }

    .footer__list__cell:last-child{
        margin: 0;
    }

    .footer__link{
        font-size: 12px;
        line-height: 15px;
        margin:0 0 12px 0;
        color: #000000;
    }


    .footer__copyright{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px;
        min-width: 40px;
    }
}